In [1]:
import pandas as pd
import plotly.express as px

import warnings
warnings.filterwarnings('ignore')

In [2]:
#loading the dataset 
url_confirmed = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv"
global_confirmed = pd.read_csv(url_confirmed,error_bad_lines=False)
print(global_confirmed.shape)

(264, 91)

In [3]:
global_confirmed[global_confirmed['Country/Region'] == 'India']

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,4/8/20,4/9/20,4/10/20,4/11/20,4/12/20,4/13/20,4/14/20,4/15/20,4/16/20,4/17/20
131,NaN,India,21.0,78.0,0,0,0,0,0,0,...,5916,6725,7598,8446,9205,10453,11487,12322,13430,14352

In [4]:
global_confirmed.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,4/8/20,4/9/20,4/10/20,4/11/20,4/12/20,4/13/20,4/14/20,4/15/20,4/16/20,4/17/20
0,NaN,Afghanistan,33.0000,65.0000,0,0,0,0,0,0,...,444,484,521,555,607,665,714,784,840,906
1,NaN,Albania,41.1533,20.1683,0,0,0,0,0,0,...,400,409,416,433,446,467,475,494,518,539
2,NaN,Algeria,28.0339,1.6596,0,0,0,0,0,0,...,1572,1666,1761,1825,1914,1983,2070,2160,2268,2418
3,NaN,Andorra,42.5063,1.5218,0,0,0,0,0,0,...,564,583,601,601,638,646,659,673,673,696
4,NaN,Angola,-11.2027,17.8739,0,0,0,0,0,0,...,19,19,19,19,19,19,19,19,19,19

In [5]:
url_deaths = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv"
global_deaths = pd.read_csv(url_deaths,error_bad_lines=False)
print(global_deaths.shape)

(264, 91)

In [6]:
global_deaths.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,4/8/20,4/9/20,4/10/20,4/11/20,4/12/20,4/13/20,4/14/20,4/15/20,4/16/20,4/17/20
0,NaN,Afghanistan,33.0000,65.0000,0,0,0,0,0,0,...,14,15,15,18,18,21,23,25,30,30
1,NaN,Albania,41.1533,20.1683,0,0,0,0,0,0,...,22,23,23,23,23,23,24,25,26,26
2,NaN,Algeria,28.0339,1.6596,0,0,0,0,0,0,...,205,235,256,275,293,313,326,336,348,364
3,NaN,Andorra,42.5063,1.5218,0,0,0,0,0,0,...,23,25,26,26,29,29,31,33,33,35
4,NaN,Angola,-11.2027,17.8739,0,0,0,0,0,0,...,2,2,2,2,2,2,2,2,2,2

In [7]:
global_deaths[global_deaths['Country/Region'] == 'India']

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,4/8/20,4/9/20,4/10/20,4/11/20,4/12/20,4/13/20,4/14/20,4/15/20,4/16/20,4/17/20
131,NaN,India,21.0,78.0,0,0,0,0,0,0,...,178,226,246,288,331,358,393,405,448,486

In [8]:
# To make date clms as rows
global_confirmed = global_confirmed.melt(id_vars=["Province/State","Country/Region","Lat","Long"])

global_confirmed = global_confirmed.rename({'variable':'Date','value':'Confirmed_cases'}, axis = 'columns')

print(global_confirmed.shape)
global_confirmed.head(2)

(22968, 6)

  Province/State Country/Region      Lat     Long     Date  Confirmed_cases
0            NaN    Afghanistan  33.0000  65.0000  1/22/20                0
1            NaN        Albania  41.1533  20.1683  1/22/20                0

In [9]:
#using the melt function to unpivot the extra columns and to make analysis easier.
global_deaths = global_deaths.melt(id_vars=["Province/State","Country/Region","Lat","Long"])

global_deaths = global_deaths.rename({'variable':'Date','value':'Death_cases'}, axis = 'columns')

print(global_deaths.shape)
global_deaths.head(2)

(22968, 6)

  Province/State Country/Region      Lat     Long     Date  Death_cases
0            NaN    Afghanistan  33.0000  65.0000  1/22/20            0
1            NaN        Albania  41.1533  20.1683  1/22/20            0

In [10]:
#combining both dataframes
combined_df = [global_confirmed,global_deaths]
combined_df = [df.set_index(['Province/State','Country/Region','Lat','Long','Date']) for df in combined_df]
combined_df = combined_df[0].join(combined_df[1:])
combined_df.head(3)

                                                       Confirmed_cases  \
Province/State Country/Region Lat     Long    Date
NaN            Afghanistan    33.0000 65.0000 1/22/20                0
               Albania        41.1533 20.1683 1/22/20                0
               Algeria        28.0339 1.6596  1/22/20                0

                                                       Death_cases
Province/State Country/Region Lat     Long    Date
NaN            Afghanistan    33.0000 65.0000 1/22/20            0
               Albania        41.1533 20.1683 1/22/20            0
               Algeria        28.0339 1.6596  1/22/20            0

In [15]:
combined_df = combined_df.reset_index()

In [16]:
#converting the columns of the dataframe into correct data types.
combined_df[['Lat','Long','Confirmed_cases','Death_cases']] = combined_df[['Lat','Long','Confirmed_cases','Death_cases']].apply(pd.to_numeric)
combined_df[['Date']] = combined_df[['Date']].apply(pd.to_datetime)

In [17]:
combined_df = combined_df.rename({'Province/State':'State','Country/Region':'Country'}, axis = 'columns')
combined_df.head(3)

,State,Country,Lat,Long,Date,Confirmed_cases,Death_cases
0,NaN,Afghanistan,33.0000,65.0000,2020-01-22,0,0
1,NaN,Albania,41.1533,20.1683,2020-01-22,0,0
2,NaN,Algeria,28.0339,1.6596,2020-01-22,0,0

In [21]:
new_df=pd.DataFrame(columns = ['Country', 'Confirmed Cases','Death Cases'])

In [22]:
new_df

Empty DataFrame
Columns: [Country, Confirmed Cases, Death Cases]
Index: []

In [23]:
new_df['Country'] = combined_df['Country'].unique()

In [24]:
unique_country_list=[]
unique_country_list=combined_df['Country'].unique() 
date = '2020-04-17'

In [25]:
for country in unique_country_list:
    print(country)
    subset_df = combined_df[(combined_df["Country"] == country) & (combined_df['Date']==date)]
    print(subset_df)
    total = subset_df['Confirmed_cases'].sum() 
    print(total)
    new_df.loc[new_df['Country'] == country, 'Confirmed Cases'] = total

Afghanistan
      State      Country   Lat  Long       Date  Confirmed_cases  Death_cases
22704   NaN  Afghanistan  33.0  65.0 2020-04-17              906           30
906
Albania
      State  Country      Lat     Long       Date  Confirmed_cases  \
22705   NaN  Albania  41.1533  20.1683 2020-04-17              539

       Death_cases
22705           26
539
Algeria
      State  Country      Lat    Long       Date  Confirmed_cases  Death_cases
22706   NaN  Algeria  28.0339  1.6596 2020-04-17             2418          364
2418
Andorra
      State  Country      Lat    Long       Date  Confirmed_cases  Death_cases
22707   NaN  Andorra  42.5063  1.5218 2020-04-17              696           35
696
Angola
      State Country      Lat     Long       Date  Confirmed_cases  Death_cases
22708   NaN  Angola -11.2027  17.8739 2020-04-17               19            2
19
Antigua and Barbuda
      State              Country      Lat     Long       Date  \
22709   NaN  Antigua and Barbuda  17.0608 -61.7964 2020-04-17

       Confirmed_cases  Death_cases
22709               23            3
23
Argentina
      State    Country      Lat     Long       Date  Confirmed_cases  \
22710   NaN  Argentina -38.4161 -63.6167 2020-04-17             2669

       Death_cases
22710          123
2669
Armenia
      State  Country      Lat     Long       Date  Confirmed_cases  \
22711   NaN  Armenia  40.0691  45.0382 2020-04-17             1201

       Death_cases
22711           19
1201
Australia
                              State    Country      Lat      Long       Date  \
22712  Australian Capital Territory  Australia -35.4735  149.0124 2020-04-17
22713               New South Wales  Australia -33.8688  151.2093 2020-04-17
22714            Northern Territory  Australia -12.4634  130.8456 2020-04-17
22715                    Queensland  Australia -28.0167  153.4000 2020-04-17
22716               South Australia  Australia -34.9285  138.6007 2020-04-17
22717                      Tasmania  Australia -41.4545  145.9707 2020-04-17
22718                      Victoria  Australia -37.8136  144.9631 2020-04-17
22719             Western Australia  Australia -31.9505  115.8605 2020-04-17

       Confirmed_cases  Death_cases
22712              103            3
22713             2926           26
22714               28            0
22715             1007            5
22716              435            4
22717              180            7
22718             1302           14
22719              541            7
6522
Austria
      State  Country      Lat     Long       Date  Confirmed_cases  \
22720   NaN  Austria  47.5162  14.5501 2020-04-17            14595

       Death_cases
22720          431
14595
Azerbaijan
      State     Country      Lat     Long       Date  Confirmed_cases  \
22721   NaN  Azerbaijan  40.1431  47.5769 2020-04-17             1340

       Death_cases
22721           15
1340
Bahamas
      State  Country      Lat     Long       Date  Confirmed_cases  \
22722   NaN  Bahamas  25.0343 -77.3963 2020-04-17               54

       Death_cases
22722            9
54
Bahrain
      State  Country      Lat   Long       Date  Confirmed_cases  Death_cases
22723   NaN  Bahrain  26.0275  50.55 2020-04-17             1740            7
1740
Bangladesh
      State     Country     Lat     Long       Date  Confirmed_cases  \
22724   NaN  Bangladesh  23.685  90.3563 2020-04-17             1838

       Death_cases
22724           75
1838
Barbados
      State   Country      Lat     Long       Date  Confirmed_cases  \
22725   NaN  Barbados  13.1939 -59.5432 2020-04-17               75

       Death_cases
22725            5
75
Belarus
      State  Country      Lat     Long       Date  Confirmed_cases  \
22726   NaN  Belarus  53.7098  27.9534 2020-04-17             4779

       Death_cases
22726           42
4779
Belgium
      State  Country      Lat  Long       Date  Confirmed_cases  Death_cases
22727   NaN  Belgium  50.8333   4.0 2020-04-17            36138         5163
36138
Benin
      State Country     Lat    Long       Date  Confirmed_cases  Death_cases
22728   NaN   Benin  9.3077  2.3158 2020-04-17               35            1
35
Bhutan
      State Country      Lat     Long       Date  Confirmed_cases  Death_cases
22729   NaN  Bhutan  27.5142  90.4336 2020-04-17                5            0
5
Bolivia
      State  Country      Lat     Long       Date  Confirmed_cases  \
22730   NaN  Bolivia -16.2902 -63.5887 2020-04-17              465

       Death_cases
22730           31
465
Bosnia and Herzegovina
      State                 Country      Lat     Long       Date  \
22731   NaN  Bosnia and Herzegovina  43.9159  17.6791 2020-04-17

       Confirmed_cases  Death_cases
22731             1214           46
1214
Brazil
      State Country     Lat     Long       Date  Confirmed_cases  Death_cases
22732   NaN  Brazil -14.235 -51.9253 2020-04-17            33682         2141
33682
Brunei
      State Country     Lat      Long       Date  Confirmed_cases  Death_cases
22733   NaN  Brunei  4.5353  114.7277 2020-04-17              136            1
136
Bulgaria
      State   Country      Lat     Long       Date  Confirmed_cases  \
22734   NaN  Bulgaria  42.7339  25.4858 2020-04-17              846

       Death_cases
22734           41
846
Burkina Faso
      State       Country      Lat    Long       Date  Confirmed_cases  \
22735   NaN  Burkina Faso  12.2383 -1.5616 2020-04-17              557

       Death_cases
22735           35
557
Cabo Verde
      State     Country      Lat     Long       Date  Confirmed_cases  \
22736   NaN  Cabo Verde  16.5388 -23.0418 2020-04-17               56

       Death_cases
22736            1
56
Cambodia
      State   Country    Lat      Long       Date  Confirmed_cases  \
22737   NaN  Cambodia  11.55  104.9167 2020-04-17              122

       Death_cases
22737            0
122
Cameroon
      State   Country    Lat     Long       Date  Confirmed_cases  Death_cases
22738   NaN  Cameroon  3.848  11.5021 2020-04-17              996           22
996
Canada
                           State Country      Lat      Long       Date  \
22739                    Alberta  Canada  53.9333 -116.5765 2020-04-17
22740           British Columbia  Canada  49.2827 -123.1207 2020-04-17
22741             Grand Princess  Canada  37.6489 -122.6655 2020-04-17
22742                   Manitoba  Canada  53.7609  -98.8139 2020-04-17
22743              New Brunswick  Canada  46.5653  -66.4619 2020-04-17
22744  Newfoundland and Labrador  Canada  53.1355  -57.6604 2020-04-17
22745                Nova Scotia  Canada  44.6820  -63.7443 2020-04-17
22746                    Ontario  Canada  51.2538  -85.3232 2020-04-17
22747       Prince Edward Island  Canada  46.5107  -63.4168 2020-04-17
22748                     Quebec  Canada  52.9399  -73.5491 2020-04-17
22749               Saskatchewan  Canada  52.9399 -106.4509 2020-04-17
22935           Diamond Princess  Canada   0.0000    0.0000 2020-04-17
22942                  Recovered  Canada   0.0000    0.0000 2020-04-17
22949      Northwest Territories  Canada  64.8255 -124.8457 2020-04-17
22950                      Yukon  Canada  64.2823 -135.0000 2020-04-17

       Confirmed_cases  Death_cases
22739             2397           50
22740             1575           77
22741               13            0
22742              250            5
22743              117            0
22744              256            3
22745              606            4
22746            10456          524
22747               26            0
22748            16798          688
22749              307            4
22935               -1           -1
22942                0            0
22949                5            0
22950                8            0
32813
Central African Republic
      State                   Country     Lat     Long       Date  \
22750   NaN  Central African Republic  6.6111  20.9394 2020-04-17

       Confirmed_cases  Death_cases
22750               12            0
12
Chad
      State Country      Lat     Long       Date  Confirmed_cases  Death_cases
22751   NaN    Chad  15.4542  18.7322 2020-04-17               27            0
27
Chile
      State Country      Lat    Long       Date  Confirmed_cases  Death_cases
22752   NaN   Chile -35.6751 -71.543 2020-04-17             9252          116
9252
China
                State Country      Lat      Long       Date  Confirmed_cases  \
22753           Anhui   China  31.8257  117.2264 2020-04-17              991
22754         Beijing   China  40.1824  116.4142 2020-04-17              593
22755       Chongqing   China  30.0572  107.8740 2020-04-17              579
22756          Fujian   China  26.0789  117.9874 2020-04-17              354
22757           Gansu   China  37.8099  101.0583 2020-04-17              139
22758       Guangdong   China  23.3417  113.4244 2020-04-17             1577
22759         Guangxi   China  23.8298  108.7881 2020-04-17              254
22760         Guizhou   China  26.8154  106.8748 2020-04-17              146
22761          Hainan   China  19.1959  109.7453 2020-04-17              168
22762           Hebei   China  39.5490  116.1306 2020-04-17              328
22763    Heilongjiang   China  47.8620  127.7615 2020-04-17              872
22764           Henan   China  33.8820  113.6140 2020-04-17             1276
22765       Hong Kong   China  22.3000  114.2000 2020-04-17             1021
22766           Hubei   China  30.9756  112.2707 2020-04-17            68128
22767           Hunan   China  27.6104  111.7088 2020-04-17             1019
22768  Inner Mongolia   China  44.0935  113.9448 2020-04-17              193
22769         Jiangsu   China  32.9711  119.4550 2020-04-17              653
22770         Jiangxi   China  27.6140  115.7221 2020-04-17              937
22771           Jilin   China  43.6661  126.1923 2020-04-17              102
22772        Liaoning   China  41.2956  122.6085 2020-04-17              146
22773           Macau   China  22.1667  113.5500 2020-04-17               45
22774         Ningxia   China  37.2692  106.1655 2020-04-17               75
22775         Qinghai   China  35.7452   95.9956 2020-04-17               18
22776         Shaanxi   China  35.1917  108.8701 2020-04-17              256
22777        Shandong   China  36.3427  118.1498 2020-04-17              787
22778        Shanghai   China  31.2020  121.4491 2020-04-17              628
22779          Shanxi   China  37.5777  112.2922 2020-04-17              197
22780         Sichuan   China  30.6171  102.7103 2020-04-17              560
22781         Tianjin   China  39.3054  117.3230 2020-04-17              189
22782           Tibet   China  31.6927   88.0924 2020-04-17                1
22783        Xinjiang   China  41.1129   85.2401 2020-04-17               76
22784          Yunnan   China  24.9740  101.4870 2020-04-17              184
22785        Zhejiang   China  29.1832  120.0934 2020-04-17             1268

       Death_cases
22753            6
22754            8
22755            6
22756            1
22757            2
22758            8
22759            2
22760            2
22761            6
22762            6
22763           13
22764           22
22765            4
22766         4512
22767            4
22768            1
22769            0
22770            1
22771            1
22772            2
22773            0
22774            0
22775            0
22776            3
22777            7
22778            7
22779            0
22780            3
22781            3
22782            0
22783            3
22784            2
22785            1
83760

Colombia
      State   Country     Lat     Long       Date  Confirmed_cases  \
22786   NaN  Colombia  4.5709 -74.2973 2020-04-17             3439

       Death_cases
22786          153
3439
Congo (Brazzaville)
      State              Country     Lat     Long       Date  Confirmed_cases  \
22787   NaN  Congo (Brazzaville) -4.0383  21.7587 2020-04-17              143

       Death_cases
22787            6
143
Congo (Kinshasa)
      State           Country     Lat     Long       Date  Confirmed_cases  \
22788   NaN  Congo (Kinshasa) -4.0383  21.7587 2020-04-17              287

       Death_cases
22788           23
287
Costa Rica
      State     Country     Lat     Long       Date  Confirmed_cases  \
22789   NaN  Costa Rica  9.7489 -83.7534 2020-04-17              649

       Death_cases
22789            4
649
Cote d'Ivoire
      State        Country   Lat    Long       Date  Confirmed_cases  \
22790   NaN  Cote d'Ivoire  7.54 -5.5471 2020-04-17              688

       Death_cases
22790            6
688
Croatia
      State  Country   Lat  Long       Date  Confirmed_cases  Death_cases
22791   NaN  Croatia  45.1  15.2 2020-04-17             1814           36
1814
Diamond Princess
      State           Country  Lat  Long       Date  Confirmed_cases  \
22792   NaN  Diamond Princess  0.0   0.0 2020-04-17              712

       Death_cases
22792           13
712
Cuba
      State Country   Lat  Long       Date  Confirmed_cases  Death_cases
22793   NaN    Cuba  22.0 -80.0 2020-04-17              923           31
923
Cyprus
      State Country      Lat     Long       Date  Confirmed_cases  Death_cases
22794   NaN  Cyprus  35.1264  33.4299 2020-04-17              750           12
750
Czechia
      State  Country      Lat    Long       Date  Confirmed_cases  Death_cases
22795   NaN  Czechia  49.8175  15.473 2020-04-17             6549          173
6549
Denmark
               State  Country      Lat     Long       Date  Confirmed_cases  \
22796  Faroe Islands  Denmark  61.8926  -6.9118 2020-04-17              184
22797      Greenland  Denmark  71.7069 -42.6043 2020-04-17               11
22798            NaN  Denmark  56.2639   9.5018 2020-04-17             7073

       Death_cases
22796            0
22797            0
22798          336
7268
Djibouti
      State   Country      Lat     Long       Date  Confirmed_cases  \
22799   NaN  Djibouti  11.8251  42.5903 2020-04-17              732

       Death_cases
22799            2
732
Dominican Republic
      State             Country      Lat     Long       Date  Confirmed_cases  \
22800   NaN  Dominican Republic  18.7357 -70.1627 2020-04-17             4126

       Death_cases
22800          200
4126
Ecuador
      State  Country     Lat     Long       Date  Confirmed_cases  Death_cases
22801   NaN  Ecuador -1.8312 -78.1834 2020-04-17             8450          421
8450
Egypt
      State Country   Lat  Long       Date  Confirmed_cases  Death_cases
22802   NaN   Egypt  26.0  30.0 2020-04-17             2844          205
2844
El Salvador
      State      Country      Lat     Long       Date  Confirmed_cases  \
22803   NaN  El Salvador  13.7942 -88.8965 2020-04-17              177

       Death_cases
22803            7
177
Equatorial Guinea
      State            Country  Lat  Long       Date  Confirmed_cases  \
22804   NaN  Equatorial Guinea  1.5  10.0 2020-04-17               79

       Death_cases
22804            0
79
Eritrea
      State  Country      Lat     Long       Date  Confirmed_cases  \
22805   NaN  Eritrea  15.1794  39.7823 2020-04-17               35

       Death_cases
22805            0
35
Estonia
      State  Country      Lat     Long       Date  Confirmed_cases  \
22806   NaN  Estonia  58.5953  25.0136 2020-04-17             1459

       Death_cases
22806           38
1459
Eswatini
      State   Country      Lat     Long       Date  Confirmed_cases  \
22807   NaN  Eswatini -26.5225  31.4659 2020-04-17               16

       Death_cases
22807            1
16
Ethiopia
      State   Country    Lat     Long       Date  Confirmed_cases  Death_cases
22808   NaN  Ethiopia  9.145  40.4897 2020-04-17               96            3
96
Fiji
      State Country      Lat     Long       Date  Confirmed_cases  Death_cases
22809   NaN    Fiji -17.7134  178.065 2020-04-17               17            0
17
Finland
      State  Country   Lat  Long       Date  Confirmed_cases  Death_cases
22810   NaN  Finland  64.0  26.0 2020-04-17             3489           82
3489
France
                           State Country      Lat      Long       Date  \
22811              French Guiana  France   3.9339  -53.1258 2020-04-17
22812           French Polynesia  France -17.6797  149.4068 2020-04-17
22813                 Guadeloupe  France  16.2500  -61.5833 2020-04-17
22814                    Mayotte  France -12.8275   45.1662 2020-04-17
22815              New Caledonia  France -20.9043  165.6180 2020-04-17
22816                    Reunion  France -21.1351   55.2471 2020-04-17
22817           Saint Barthelemy  France  17.9000  -62.8333 2020-04-17
22818                  St Martin  France  18.0708  -63.0501 2020-04-17
22819                 Martinique  France  14.6415  -61.0242 2020-04-17
22820                        NaN  France  46.2276    2.2137 2020-04-17
22963  Saint Pierre and Miquelon  France  46.8852  -56.3159 2020-04-17

       Confirmed_cases  Death_cases
22811               96            0
22812               55            0
22813              145            8
22814              245            4
22815               18            0
22816              402            0
22817                6            0
22818               35            2
22819              158            8
22820           147969        18681
22963                1            0
149130
Gabon
      State Country     Lat     Long       Date  Confirmed_cases  Death_cases
22821   NaN   Gabon -0.8037  11.6094 2020-04-17              108            1
108
Gambia
      State Country      Lat     Long       Date  Confirmed_cases  Death_cases
22822   NaN  Gambia  13.4432 -15.3101 2020-04-17                9            1
9
Georgia
      State  Country      Lat     Long       Date  Confirmed_cases  \
22823   NaN  Georgia  42.3154  43.3569 2020-04-17              370

       Death_cases
22823            3
370
Germany
      State  Country   Lat  Long       Date  Confirmed_cases  Death_cases
22824   NaN  Germany  51.0   9.0 2020-04-17           141397         4352
141397
Ghana
      State Country     Lat    Long       Date  Confirmed_cases  Death_cases
22825   NaN   Ghana  7.9465 -1.0232 2020-04-17              641            8
641
Greece
      State Country      Lat     Long       Date  Confirmed_cases  Death_cases
22826   NaN  Greece  39.0742  21.8243 2020-04-17             2224          108
2224
Guatemala
      State    Country      Lat     Long       Date  Confirmed_cases  \
22827   NaN  Guatemala  15.7835 -90.2308 2020-04-17              214

       Death_cases
22827            7
214
Guinea
      State Country     Lat    Long       Date  Confirmed_cases  Death_cases
22828   NaN  Guinea  9.9456 -9.6966 2020-04-17              477            3
477
Guyana
      State Country  Lat   Long       Date  Confirmed_cases  Death_cases
22829   NaN  Guyana  5.0 -58.75 2020-04-17               63            6
63
Haiti
      State Country      Lat     Long       Date  Confirmed_cases  Death_cases
22830   NaN   Haiti  18.9712 -72.2852 2020-04-17               43            3
43
Holy See
      State   Country      Lat     Long       Date  Confirmed_cases  \
22831   NaN  Holy See  41.9029  12.4534 2020-04-17                8

       Death_cases
22831            0
8
Honduras
      State   Country   Lat     Long       Date  Confirmed_cases  Death_cases
22832   NaN  Honduras  15.2 -86.2419 2020-04-17              442           41
442
Hungary
      State  Country      Lat     Long       Date  Confirmed_cases  \
22833   NaN  Hungary  47.1625  19.5033 2020-04-17             1763

       Death_cases
22833          156
1763
Iceland
      State  Country      Lat     Long       Date  Confirmed_cases  \
22834   NaN  Iceland  64.9631 -19.0208 2020-04-17             1754

       Death_cases
22834            9
1754
India
      State Country   Lat  Long       Date  Confirmed_cases  Death_cases
22835   NaN   India  21.0  78.0 2020-04-17            14352          486
14352
Indonesia
      State    Country     Lat      Long       Date  Confirmed_cases  \
22836   NaN  Indonesia -0.7893  113.9213 2020-04-17             5923

       Death_cases
22836          520
5923
Iran
      State Country   Lat  Long       Date  Confirmed_cases  Death_cases
22837   NaN    Iran  32.0  53.0 2020-04-17            79494         4958
79494
Iraq
      State Country   Lat  Long       Date  Confirmed_cases  Death_cases
22838   NaN    Iraq  33.0  44.0 2020-04-17             1482           81
1482
Ireland
      State  Country      Lat    Long       Date  Confirmed_cases  Death_cases
22839   NaN  Ireland  53.1424 -7.6921 2020-04-17            13980          530
13980
Israel
      State Country   Lat  Long       Date  Confirmed_cases  Death_cases
22840   NaN  Israel  31.0  35.0 2020-04-17            12982          151
12982
Italy
      State Country   Lat  Long       Date  Confirmed_cases  Death_cases
22841   NaN   Italy  43.0  12.0 2020-04-17           172434        22745
172434
Jamaica
      State  Country      Lat     Long       Date  Confirmed_cases  \
22842   NaN  Jamaica  18.1096 -77.2975 2020-04-17              143

       Death_cases
22842            5
143
Japan
      State Country   Lat   Long       Date  Confirmed_cases  Death_cases
22843   NaN   Japan  36.0  138.0 2020-04-17             9787          190
9787
Jordan
      State Country    Lat   Long       Date  Confirmed_cases  Death_cases

22844   NaN  Jordan  31.24  36.51 2020-04-17              407            7
407
Kazakhstan
      State     Country      Lat     Long       Date  Confirmed_cases  \
22845   NaN  Kazakhstan  48.0196  66.9237 2020-04-17             1546

       Death_cases
22845           17
1546
Kenya
      State Country     Lat     Long       Date  Confirmed_cases  Death_cases
22846   NaN   Kenya -0.0236  37.9062 2020-04-17              246           11
246
Korea, South
      State       Country   Lat   Long       Date  Confirmed_cases  \
22847   NaN  Korea, South  36.0  128.0 2020-04-17            10635

       Death_cases
22847          230
10635
Kuwait
      State Country   Lat   Long       Date  Confirmed_cases  Death_cases
22848   NaN  Kuwait  29.5  47.75 2020-04-17             1658            5
1658
Kyrgyzstan
      State     Country      Lat     Long       Date  Confirmed_cases  \
22849   NaN  Kyrgyzstan  41.2044  74.7661 2020-04-17              489

       Death_cases
22849            5
489
Latvia
      State Country      Lat     Long       Date  Confirmed_cases  Death_cases
22850   NaN  Latvia  56.8796  24.6032 2020-04-17              682            5
682
Lebanon
      State  Country      Lat     Long       Date  Confirmed_cases  \
22851   NaN  Lebanon  33.8547  35.8623 2020-04-17              668

       Death_cases
22851           21
668
Liberia
      State  Country     Lat    Long       Date  Confirmed_cases  Death_cases
22852   NaN  Liberia  6.4281 -9.4295 2020-04-17               76            7
76
Liechtenstein
      State        Country    Lat  Long       Date  Confirmed_cases  \
22853   NaN  Liechtenstein  47.14  9.55 2020-04-17               79

       Death_cases
22853            1
79
Lithuania
      State    Country      Lat     Long       Date  Confirmed_cases  \
22854   NaN  Lithuania  55.1694  23.8813 2020-04-17             1149

       Death_cases
22854           33
1149
Luxembourg
      State     Country      Lat    Long       Date  Confirmed_cases  \
22855   NaN  Luxembourg  49.8153  6.1296 2020-04-17             3480

       Death_cases
22855           72
3480
Madagascar
      State     Country      Lat     Long       Date  Confirmed_cases  \
22856   NaN  Madagascar -18.7669  46.8691 2020-04-17              117

       Death_cases
22856            0
117
Malaysia
      State   Country  Lat   Long       Date  Confirmed_cases  Death_cases
22857   NaN  Malaysia  2.5  112.5 2020-04-17             5251           86
5251
Maldives
      State   Country     Lat     Long       Date  Confirmed_cases  \
22858   NaN  Maldives  3.2028  73.2207 2020-04-17               28

       Death_cases
22858            0
28
Malta
      State Country      Lat     Long       Date  Confirmed_cases  Death_cases
22859   NaN   Malta  35.9375  14.3754 2020-04-17              422            3
422
Mauritania
      State     Country      Lat     Long       Date  Confirmed_cases  \
22860   NaN  Mauritania  21.0079  10.9408 2020-04-17                7

       Death_cases
22860            1
7
Mauritius
      State    Country   Lat  Long       Date  Confirmed_cases  Death_cases
22861   NaN  Mauritius -20.2  57.5 2020-04-17              324            9
324
Mexico
      State Country      Lat      Long       Date  Confirmed_cases  \
22862   NaN  Mexico  23.6345 -102.5528 2020-04-17             6297

       Death_cases
22862          486
6297
Moldova
      State  Country      Lat     Long       Date  Confirmed_cases  \
22863   NaN  Moldova  47.4116  28.3699 2020-04-17             2264

       Death_cases
22863           56
2264
Monaco
      State Country      Lat    Long       Date  Confirmed_cases  Death_cases
22864   NaN  Monaco  43.7333  7.4167 2020-04-17               94            3
94
Mongolia
      State   Country      Lat      Long       Date  Confirmed_cases  \
22865   NaN  Mongolia  46.8625  103.8467 2020-04-17               31

       Death_cases
22865            0
31
Montenegro
      State     Country   Lat  Long       Date  Confirmed_cases  Death_cases
22866   NaN  Montenegro  42.5  19.3 2020-04-17              303            5
303
Morocco
      State  Country      Lat    Long       Date  Confirmed_cases  Death_cases
22867   NaN  Morocco  31.7917 -7.0926 2020-04-17             2564          135
2564
Namibia
      State  Country      Lat     Long       Date  Confirmed_cases  \
22868   NaN  Namibia -22.9576  18.4904 2020-04-17               16

       Death_cases
22868            0
16
Nepal
      State Country      Lat   Long       Date  Confirmed_cases  Death_cases
22869   NaN   Nepal  28.1667  84.25 2020-04-17               30            0
30
Netherlands
                                  State      Country      Lat     Long  \
22870                             Aruba  Netherlands  12.5186 -70.0358
22871                           Curacao  Netherlands  12.1696 -68.9900
22872                      Sint Maarten  Netherlands  18.0425 -63.0548
22873                               NaN  Netherlands  52.1326   5.2913
22960  Bonaire, Sint Eustatius and Saba  Netherlands  12.1784 -68.2385

            Date  Confirmed_cases  Death_cases
22870 2020-04-17               96            2
22871 2020-04-17               14            1
22872 2020-04-17               57            9
22873 2020-04-17            30449         3459
22960 2020-04-17                3            0
30619
New Zealand
      State      Country      Lat     Long       Date  Confirmed_cases  \
22874   NaN  New Zealand -40.9006  174.886 2020-04-17             1409

       Death_cases
22874           11
1409
Nicaragua
      State    Country      Lat     Long       Date  Confirmed_cases  \
22875   NaN  Nicaragua  12.8654 -85.2072 2020-04-17                9

       Death_cases
22875            1
9
Niger
      State Country      Lat    Long       Date  Confirmed_cases  Death_cases
22876   NaN   Niger  17.6078  8.0817 2020-04-17              627           18
627
Nigeria
      State  Country    Lat    Long       Date  Confirmed_cases  Death_cases
22877   NaN  Nigeria  9.082  8.6753 2020-04-17              493           17
493
North Macedonia
      State          Country      Lat     Long       Date  Confirmed_cases  \
22878   NaN  North Macedonia  41.6086  21.7453 2020-04-17             1117

       Death_cases
22878           49
1117
Norway
      State Country     Lat    Long       Date  Confirmed_cases  Death_cases
22879   NaN  Norway  60.472  8.4689 2020-04-17             6937          161
6937
Oman
      State Country   Lat  Long       Date  Confirmed_cases  Death_cases
22880   NaN    Oman  21.0  57.0 2020-04-17             1069            6
1069
Pakistan
      State   Country      Lat     Long       Date  Confirmed_cases  \
22881   NaN  Pakistan  30.3753  69.3451 2020-04-17             7025

       Death_cases
22881          135
7025
Panama
      State Country    Lat     Long       Date  Confirmed_cases  Death_cases
22882   NaN  Panama  8.538 -80.7821 2020-04-17             4016          109
4016
Papua New Guinea
      State           Country    Lat      Long       Date  Confirmed_cases  \
22883   NaN  Papua New Guinea -6.315  143.9555 2020-04-17                7

       Death_cases
22883            0
7
Paraguay
      State   Country      Lat     Long       Date  Confirmed_cases  \
22884   NaN  Paraguay -23.4425 -58.4438 2020-04-17              199

       Death_cases
22884            8
199
Peru
      State Country   Lat     Long       Date  Confirmed_cases  Death_cases
22885   NaN    Peru -9.19 -75.0152 2020-04-17            13489          300
13489
Philippines
      State      Country   Lat   Long       Date  Confirmed_cases  Death_cases
22886   NaN  Philippines  13.0  122.0 2020-04-17             5878          387
5878
Poland
      State Country      Lat     Long       Date  Confirmed_cases  Death_cases
22887   NaN  Poland  51.9194  19.1451 2020-04-17             8379          332
8379
Portugal
      State   Country      Lat    Long       Date  Confirmed_cases  \
22888   NaN  Portugal  39.3999 -8.2245 2020-04-17            19022

       Death_cases
22888          657
19022
Qatar
      State Country      Lat     Long       Date  Confirmed_cases  Death_cases
22889   NaN   Qatar  25.3548  51.1839 2020-04-17             4663            7
4663
Romania
      State  Country      Lat     Long       Date  Confirmed_cases  \
22890   NaN  Romania  45.9432  24.9668 2020-04-17             8067

       Death_cases

22890          411
8067
Russia
      State Country   Lat  Long       Date  Confirmed_cases  Death_cases
22891   NaN  Russia  60.0  90.0 2020-04-17            32008          273
32008
Rwanda
      State Country     Lat     Long       Date  Confirmed_cases  Death_cases
22892   NaN  Rwanda -1.9403  29.8739 2020-04-17              143            0
143
Saint Lucia
      State      Country      Lat     Long       Date  Confirmed_cases  \
22893   NaN  Saint Lucia  13.9094 -60.9789 2020-04-17               15

       Death_cases
22893            0
15
Saint Vincent and the Grenadines
      State                           Country      Lat     Long       Date  \
22894   NaN  Saint Vincent and the Grenadines  12.9843 -61.2872 2020-04-17

       Confirmed_cases  Death_cases
22894               12            0
12
San Marino
      State     Country      Lat     Long       Date  Confirmed_cases  \
22895   NaN  San Marino  43.9424  12.4578 2020-04-17              435

       Death_cases
22895           39
435
Saudi Arabia
      State       Country   Lat  Long       Date  Confirmed_cases  Death_cases
22896   NaN  Saudi Arabia  24.0  45.0 2020-04-17             7142           87
7142
Senegal
      State  Country      Lat     Long       Date  Confirmed_cases  \
22897   NaN  Senegal  14.4974 -14.4524 2020-04-17              342

       Death_cases
22897            2
342
Serbia
      State Country      Lat     Long       Date  Confirmed_cases  Death_cases
22898   NaN  Serbia  44.0165  21.0059 2020-04-17             5690          110
5690
Seychelles
      State     Country     Lat    Long       Date  Confirmed_cases  \
22899   NaN  Seychelles -4.6796  55.492 2020-04-17               11

       Death_cases
22899            0
11
Singapore
      State    Country     Lat      Long       Date  Confirmed_cases  \
22900   NaN  Singapore  1.2833  103.8333 2020-04-17             5050

       Death_cases
22900           11
5050
Slovakia
      State   Country     Lat    Long       Date  Confirmed_cases  Death_cases
22901   NaN  Slovakia  48.669  19.699 2020-04-17             1049            9
1049
Slovenia
      State   Country      Lat     Long       Date  Confirmed_cases  \
22902   NaN  Slovenia  46.1512  14.9955 2020-04-17             1304

       Death_cases
22902           66
1304
Somalia
      State  Country     Lat     Long       Date  Confirmed_cases  Death_cases
22903   NaN  Somalia  5.1521  46.1996 2020-04-17              116            6
116
South Africa
      State       Country      Lat     Long       Date  Confirmed_cases  \
22904   NaN  South Africa -30.5595  22.9375 2020-04-17             2783

       Death_cases
22904           50
2783
Spain
      State Country   Lat  Long       Date  Confirmed_cases  Death_cases
22905   NaN   Spain  40.0  -4.0 2020-04-17           190839        20002
190839
Sri Lanka
      State    Country  Lat  Long       Date  Confirmed_cases  Death_cases
22906   NaN  Sri Lanka  7.0  81.0 2020-04-17              244            7
244
Sudan
      State Country      Lat     Long       Date  Confirmed_cases  Death_cases
22907   NaN   Sudan  12.8628  30.2176 2020-04-17               33            6
33
Suriname
      State   Country     Lat     Long       Date  Confirmed_cases  \
22908   NaN  Suriname  3.9193 -56.0278 2020-04-17               10

       Death_cases
22908            1
10
Sweden
      State Country   Lat  Long       Date  Confirmed_cases  Death_cases
22909   NaN  Sweden  63.0  16.0 2020-04-17            13216         1400
13216
Switzerland
      State      Country      Lat    Long       Date  Confirmed_cases  \
22910   NaN  Switzerland  46.8182  8.2275 2020-04-17            27078

       Death_cases
22910         1327
27078
Taiwan*
      State  Country   Lat   Long       Date  Confirmed_cases  Death_cases
22911   NaN  Taiwan*  23.7  121.0 2020-04-17              395            6
395
Tanzania
      State   Country    Lat     Long       Date  Confirmed_cases  Death_cases
22912   NaN  Tanzania -6.369  34.8888 2020-04-17              147            5
147
Thailand
      State   Country   Lat   Long       Date  Confirmed_cases  Death_cases
22913   NaN  Thailand  15.0  101.0 2020-04-17             2700           47
2700
Togo
      State Country     Lat    Long       Date  Confirmed_cases  Death_cases
22914   NaN    Togo  8.6195  0.8248 2020-04-17               83            5
83
Trinidad and Tobago
      State              Country      Lat     Long       Date  \
22915   NaN  Trinidad and Tobago  10.6918 -61.2225 2020-04-17

       Confirmed_cases  Death_cases
22915              114            8
114
Tunisia
      State  Country   Lat  Long       Date  Confirmed_cases  Death_cases
22916   NaN  Tunisia  34.0   9.0 2020-04-17              864           37
864
Turkey
      State Country      Lat     Long       Date  Confirmed_cases  Death_cases
22917   NaN  Turkey  38.9637  35.2433 2020-04-17            78546         1769
78546
Uganda
      State Country  Lat  Long       Date  Confirmed_cases  Death_cases
22918   NaN  Uganda  1.0  32.0 2020-04-17               56            0
56
Ukraine
      State  Country      Lat     Long       Date  Confirmed_cases  \
22919   NaN  Ukraine  48.3794  31.1656 2020-04-17             4662

       Death_cases
22919          125
4662
United Arab Emirates
      State               Country   Lat  Long       Date  Confirmed_cases  \
22920   NaN  United Arab Emirates  24.0  54.0 2020-04-17             6302

       Death_cases
22920           37
6302
United Kingdom
                             State         Country      Lat     Long  \
22921                      Bermuda  United Kingdom  32.3078 -64.7505
22922               Cayman Islands  United Kingdom  19.3133 -81.2546
22923              Channel Islands  United Kingdom  49.3723  -2.3644
22924                    Gibraltar  United Kingdom  36.1408  -5.3536
22925                  Isle of Man  United Kingdom  54.2361  -4.5481
22926                   Montserrat  United Kingdom  16.7425 -62.1874
22927                          NaN  United Kingdom  55.3781  -3.4360
22953                     Anguilla  United Kingdom  18.2206 -63.0686
22954       British Virgin Islands  United Kingdom  18.4207 -64.6400
22955     Turks and Caicos Islands  United Kingdom  21.6940 -71.7979
22962  Falkland Islands (Malvinas)  United Kingdom -51.7963 -59.5236

            Date  Confirmed_cases  Death_cases
22921 2020-04-17               83            5
22922 2020-04-17               61            1
22923 2020-04-17              470           20
22924 2020-04-17              132            0
22925 2020-04-17              291            4
22926 2020-04-17               11            0
22927 2020-04-17           108692        14576
22953 2020-04-17                3            0
22954 2020-04-17                4            0
22955 2020-04-17               11            1
22962 2020-04-17               11            0
109769
Uruguay
      State  Country      Lat     Long       Date  Confirmed_cases  \
22928   NaN  Uruguay -32.5228 -55.7658 2020-04-17              502

       Death_cases
22928            9
502
US
      State Country      Lat     Long       Date  Confirmed_cases  Death_cases
22929   NaN      US  37.0902 -95.7129 2020-04-17           699706        36773
699706
Uzbekistan
      State     Country      Lat     Long       Date  Confirmed_cases  \
22930   NaN  Uzbekistan  41.3775  64.5853 2020-04-17             1405

       Death_cases
22930            4
1405
Venezuela
      State    Country     Lat     Long       Date  Confirmed_cases  \
22931   NaN  Venezuela  6.4238 -66.5897 2020-04-17              204

       Death_cases
22931            9
204
Vietnam
      State  Country   Lat   Long       Date  Confirmed_cases  Death_cases
22932   NaN  Vietnam  16.0  108.0 2020-04-17              268            0
268
Zambia
      State Country      Lat     Long       Date  Confirmed_cases  Death_cases
22933   NaN  Zambia -15.4167  28.2833 2020-04-17               52            2
52
Zimbabwe
      State   Country   Lat  Long       Date  Confirmed_cases  Death_cases
22934   NaN  Zimbabwe -20.0  30.0 2020-04-17               24            3
24
Dominica
      State   Country     Lat    Long       Date  Confirmed_cases  Death_cases
22936   NaN  Dominica  15.415 -61.371 2020-04-17               16            0
16
Grenada
      State  Country      Lat    Long       Date  Confirmed_cases  Death_cases
22937   NaN  Grenada  12.1165 -61.679 2020-04-17               14            0
14
Mozambique
      State     Country        Lat       Long       Date  Confirmed_cases  \
22938   NaN  Mozambique -18.665695  35.529562 2020-04-17               34

       Death_cases
22938            0
34
Syria
      State Country        Lat       Long       Date  Confirmed_cases  \
22939   NaN   Syria  34.802075  38.996815 2020-04-17               38

       Death_cases
22939            2
38
Timor-Leste
      State      Country       Lat        Long       Date  Confirmed_cases  \
22940   NaN  Timor-Leste -8.874217  125.727539 2020-04-17               18

       Death_cases
22940            0
18

Belize
      State Country      Lat     Long       Date  Confirmed_cases  Death_cases
22941   NaN  Belize  13.1939 -59.5432 2020-04-17               18            2
18
Laos
      State Country       Lat        Long       Date  Confirmed_cases  \
22943   NaN    Laos  19.85627  102.495496 2020-04-17               19

       Death_cases
22943            0
19
Libya
      State Country      Lat       Long       Date  Confirmed_cases  \
22944   NaN   Libya  26.3351  17.228331 2020-04-17               49

       Death_cases
22944            1
49
West Bank and Gaza
      State             Country      Lat     Long       Date  Confirmed_cases  \
22945   NaN  West Bank and Gaza  31.9522  35.2332 2020-04-17              402

       Death_cases
22945            2
402
Guinea-Bissau
      State        Country      Lat     Long       Date  Confirmed_cases  \
22946   NaN  Guinea-Bissau  11.8037 -15.1804 2020-04-17               43

       Death_cases
22946            0
43
Mali
      State Country        Lat      Long       Date  Confirmed_cases  \
22947   NaN    Mali  17.570692 -3.996166 2020-04-17              171

       Death_cases
22947           13
171
Saint Kitts and Nevis
      State                Country        Lat       Long       Date  \
22948   NaN  Saint Kitts and Nevis  17.357822 -62.782998 2020-04-17

       Confirmed_cases  Death_cases
22948               14            0
14
Kosovo
      State Country        Lat       Long       Date  Confirmed_cases  \
22951   NaN  Kosovo  42.602636  20.902977 2020-04-17              480

       Death_cases
22951           12
480
Burma
      State Country      Lat    Long       Date  Confirmed_cases  Death_cases
22952   NaN   Burma  21.9162  95.956 2020-04-17               88            4
88
MS Zaandam
      State     Country  Lat  Long       Date  Confirmed_cases  Death_cases
22956   NaN  MS Zaandam  0.0   0.0 2020-04-17                9            2
9
Botswana
      State   Country      Lat     Long       Date  Confirmed_cases  \
22957   NaN  Botswana -22.3285  24.6849 2020-04-17               15

       Death_cases
22957            1
15
Burundi
      State  Country     Lat     Long       Date  Confirmed_cases  Death_cases
22958   NaN  Burundi -3.3731  29.9189 2020-04-17                5            1
5
Sierra Leone
      State       Country       Lat       Long       Date  Confirmed_cases  \
22959   NaN  Sierra Leone  8.460555 -11.779889 2020-04-17               26

       Death_cases
22959            0
26
Malawi
      State Country        Lat       Long       Date  Confirmed_cases  \
22961   NaN  Malawi -13.254308  34.301525 2020-04-17               17

       Death_cases
22961            2
17
South Sudan
      State      Country    Lat    Long       Date  Confirmed_cases  \
22964   NaN  South Sudan  6.877  31.307 2020-04-17                4

       Death_cases
22964            0
4
Western Sahara
      State         Country      Lat     Long       Date  Confirmed_cases  \
22965   NaN  Western Sahara  24.2155 -12.8858 2020-04-17                6

       Death_cases
22965            0
6
Sao Tome and Principe
      State                Country      Lat      Long       Date  \
22966   NaN  Sao Tome and Principe  0.18636  6.613081 2020-04-17

       Confirmed_cases  Death_cases
22966                4            0
4
Yemen
      State Country        Lat       Long       Date  Confirmed_cases  \
22967   NaN   Yemen  15.552727  48.516388 2020-04-17                1

       Death_cases
22967            0
1

In [26]:
new_df.head(3)

       Country Confirmed Cases Death Cases
0  Afghanistan             906         NaN
1      Albania             539         NaN
2      Algeria            2418         NaN

In [27]:
for country in unique_country_list:
    print(country)
    subset_df = combined_df[(combined_df["Country"] == country) & (combined_df['Date']==date)]
    total = subset_df['Death_cases'].sum()
    print(total)
    new_df.loc[new_df['Country'] == country, 'Death Cases'] = total

Afghanistan
30
Albania
26
Algeria
364
Andorra
35
Angola
2
Antigua and Barbuda
3
Argentina
123
Armenia
19
Australia
66
Austria
431
Azerbaijan
15
Bahamas
9
Bahrain
7
Bangladesh
75
Barbados
5
Belarus
42
Belgium
5163
Benin
1
Bhutan
0
Bolivia
31
Bosnia and Herzegovina
46
Brazil
2141
Brunei
1
Bulgaria
41
Burkina Faso
35
Cabo Verde
1
Cambodia
0
Cameroon
22
Canada
1354
Central African Republic
0
Chad
0
Chile
116
China
4636
Colombia
153
Congo (Brazzaville)
6
Congo (Kinshasa)
23
Costa Rica
4
Cote d'Ivoire
6
Croatia
36
Diamond Princess
13
Cuba
31
Cyprus
12
Czechia
173
Denmark
336
Djibouti
2
Dominican Republic
200
Ecuador
421
Egypt
205
El Salvador
7
Equatorial Guinea
0
Eritrea
0
Estonia
38
Eswatini
1
Ethiopia
3
Fiji
0
Finland
82
France
18703
Gabon
1
Gambia
1
Georgia
3
Germany
4352
Ghana
8
Greece
108
Guatemala
7
Guinea
3
Guyana
6
Haiti
3
Holy See
0
Honduras
41
Hungary
156
Iceland
9
India
486
Indonesia
520
Iran
4958
Iraq
81
Ireland
530
Israel
151
Italy
22745
Jamaica
5
Japan
190
Jordan
7
Kazakhstan
17
Kenya
11
Korea, South
230
Kuwait
5
Kyrgyzstan
5
Latvia
5
Lebanon
21
Liberia
7
Liechtenstein
1
Lithuania
33
Luxembourg
72
Madagascar
0
Malaysia
86
Maldives
0
Malta
3
Mauritania
1
Mauritius
9
Mexico
486
Moldova
56
Monaco
3
Mongolia
0
Montenegro
5
Morocco
135
Namibia
0
Nepal
0
Netherlands
3471
New Zealand
11
Nicaragua
1
Niger
18
Nigeria
17
North Macedonia
49
Norway
161
Oman
6
Pakistan
135
Panama
109
Papua New Guinea
0
Paraguay
8
Peru
300
Philippines
387
Poland
332
Portugal
657
Qatar
7
Romania
411
Russia
273
Rwanda
0
Saint Lucia
0
Saint Vincent and the Grenadines
0
San Marino
39
Saudi Arabia
87
Senegal
2
Serbia
110
Seychelles
0
Singapore
11
Slovakia
9
Slovenia
66
Somalia
6
South Africa
50
Spain
20002
Sri Lanka
7
Sudan
6
Suriname
1
Sweden
1400
Switzerland
1327
Taiwan*
6
Tanzania
5
Thailand
47
Togo
5
Trinidad and Tobago
8
Tunisia
37
Turkey
1769
Uganda
0
Ukraine
125
United Arab Emirates
37
United Kingdom
14607
Uruguay
9
US
36773
Uzbekistan
4
Venezuela
9
Vietnam
0
Zambia
2
Zimbabwe
3
Dominica
0
Grenada
0
Mozambique
0
Syria
2
Timor-Leste
0
Belize
2
Laos
0
Libya
1
West Bank and Gaza
2
Guinea-Bissau
0
Mali
13
Saint Kitts and Nevis
0
Kosovo
12
Burma
4
MS Zaandam
2
Botswana
1
Burundi
1
Sierra Leone
0
Malawi
2
South Sudan
0
Western Sahara
0
Sao Tome and Principe
0
Yemen
0

In [28]:
new_df.head(3)

       Country Confirmed Cases Death Cases
0  Afghanistan             906          30
1      Albania             539          26
2      Algeria            2418         364

In [29]:
new_df["Confirmed Cases"] = new_df["Confirmed Cases"].astype(str)
new_df["Confirmed Cases"] = new_df["Confirmed Cases"].astype(float)

new_df["Death Cases"] = new_df["Death Cases"].astype(str)
new_df["Death Cases"] = new_df["Death Cases"].astype(float)

In [60]:
fig = px.choropleth(new_df,  # Input Pandas DataFrame
                    locations="Country",  # DataFrame column with locations
                    color="Confirmed Cases",  # DataFrame column with color values
                    hover_data=["Confirmed Cases", "Death Cases"], # DataFrame column hover info
                    locationmode = 'country names',
                    color_continuous_scale="Viridis",
                    ) # Set to plot

In [63]:
fig.update_geos(fitbounds="locations", visible=False)
fig.update_layout(title_text='COVID19 Cases<br>(Hover for breakdown)',
                  margin={"r":0,"t":100,"l":0,"b":0})
fig.show()